In [1]:
import pandas as pd

/var/folders/lj/ms0l79910fz22cg2hchczhw40000gn/T/ipykernel_65657/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [10]:
df = pd.read_csv('csv/최종_rawdata_레이블.csv', index_col=0)
df

,index,Symbol,Name,결산월,회계년,주기,영업이익(천원),이자비용(비영업)(천원),이자보상배율,상장폐지해,최초상장년도,레이블,label,label_shifted
0,29837,A038120,AD모터스,12,2011,Annual,-8241498.0,406714.0,-20.263620,2012.0,2000.0,부실징후,0,0.0
1,29838,A038120,AD모터스,12,2012,Annual,-4999892.0,103473.0,-48.320741,2012.0,2000.0,부실징후,0,NaN
2,29272,A013340,AJS,12,2011,Annual,2281287.0,1647202.0,1.384947,2014.0,1989.0,-,2,2.0
3,29273,A013340,AJS,12,2012,Annual,2609096.0,2442356.0,1.068270,2014.0,1989.0,-,2,0.0
4,29274,A013340,AJS,12,2013,Annual,-43973579.0,2438294.0,-18.034568,2014.0,1989.0,부실징후,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25128,21249,A238490,힘스,12,2019,Annual,7702123.0,112562.0,68.425605,2025.0,2017.0,회복,1,2.0
25129,21250,A238490,힘스,12,2020,Annual,24802121.0,114160.0,217.257542,2025.0,2017.0,-,2,0.0
25130,21251,A238490,힘스,12,2021,Annual,-4183890.0,83511.0,-50.099867,2025.0,2017.0,부실징후,0,0.0
25131,21252,A238490,힘스,12,2022,Annual,-13418170.0,126361.0,-106.189172,2025.0,2017.0,부실징후,0,0.0
25132,21253,A238490,힘스,12,2023,Annual,5863803.0,259679.0,22.580967,2025.0,2017.0,부실징후,0,NaN

In [11]:
df['레이블'].value_counts()

레이블
-       15624
부실징후     8489
회복       1020
Name: count, dtype: int64

In [12]:
for i in range(2011, 2024) :
    print(i)
    print(len(df.loc[(df['회계년'] == i) & (df['레이블'] == '부실징후')]))

2011
365
2012
494
2013
528
2014
540
2015
534
2016
557
2017
624
2018
679
2019
733
2020
802
2021
786
2022
802
2023
1045

In [13]:
for i in range(2011, 2024) :
    print(i)
    print(len(df.loc[(df['회계년'] == i) & (df['레이블'] == '회복')]))

2011
0
2012
58
2013
74
2014
82
2015
116
2016
89
2017
72
2018
87
2019
92
2020
115
2021
141
2022
94
2023
0