In [7]:
import pandas as pd

d = pd.read_csv('csv/20240521_상장폐지해.csv', index_col=0)
d = d[['Symbol','Name','회계년','상장폐지해']]
d

        Symbol   Name   회계년   상장폐지해
0      A038120  AD모터스  2011  2012.0
1      A038120  AD모터스  2012  2012.0
2      A013340    AJS  2011  2014.0
3      A013340    AJS  2012  2014.0
4      A013340    AJS  2013  2014.0
...        ...    ...   ...     ...
29934  A238490     힘스  2019  2025.0
29935  A238490     힘스  2020  2025.0
29936  A238490     힘스  2021  2025.0
29937  A238490     힘스  2022  2025.0
29938  A238490     힘스  2023  2025.0

[29939 rows x 4 columns]

In [8]:
raw = pd.read_csv('csv/rawdata_label.csv', index_col=0)
raw

,Symbol,Name,회계년,영업이익(천원),이자비용(비영업)(천원),이자보상배율,레이블,label
30076,A900010,3노드디지탈,2011,-835891.0,6932080.0,-0.120583,부실징후,0
30077,A900010,3노드디지탈,2012,3471574.0,6501855.0,0.533936,부실징후,0
28624,A038120,AD모터스,2011,-8241498.0,406714.0,-20.263620,부실징후,0
28625,A038120,AD모터스,2012,-4999892.0,103473.0,-48.320741,부실징후,0
28124,A013340,AJS,2011,2281287.0,1647202.0,1.384947,-,2
...,...,...,...,...,...,...,...,...
20186,A238490,힘스,2019,7702123.0,112562.0,68.425605,회복,1
20187,A238490,힘스,2020,24968175.0,114160.0,218.712115,-,2
20188,A238490,힘스,2021,-4371186.0,83511.0,-52.342637,부실징후,0
20189,A238490,힘스,2022,-13275485.0,126361.0,-105.059987,부실징후,0
20190,A238490,힘스,2023,5685407.0,259679.0,21.893981,부실징후,0

In [9]:
df = pd.merge(raw, d, on=['Symbol','Name','회계년'], how='left')
df

,Symbol,Name,회계년,영업이익(천원),이자비용(비영업)(천원),이자보상배율,레이블,label,상장폐지해
0,A900010,3노드디지탈,2011,-835891.0,6932080.0,-0.120583,부실징후,0,NaN
1,A900010,3노드디지탈,2012,3471574.0,6501855.0,0.533936,부실징후,0,NaN
2,A038120,AD모터스,2011,-8241498.0,406714.0,-20.263620,부실징후,0,2012.0
3,A038120,AD모터스,2012,-4999892.0,103473.0,-48.320741,부실징후,0,2012.0
4,A013340,AJS,2011,2281287.0,1647202.0,1.384947,-,2,2014.0
...,...,...,...,...,...,...,...,...,...
30125,A238490,힘스,2019,7702123.0,112562.0,68.425605,회복,1,2025.0
30126,A238490,힘스,2020,24968175.0,114160.0,218.712115,-,2,2025.0
30127,A238490,힘스,2021,-4371186.0,83511.0,-52.342637,부실징후,0,2025.0
30128,A238490,힘스,2022,-13275485.0,126361.0,-105.059987,부실징후,0,2025.0
30129,A238490,힘스,2023,5685407.0,259679.0,21.893981,부실징후,0,2025.0

In [19]:
df.to_csv('상장폐지해_찾으세요.csv', encoding='utf-8-sig')

In [23]:
df = pd.read_csv('상장폐지해.csv', encoding='cp949', index_col=0)
df

,Symbol,Name,회계년,영업이익(천원),이자비용(비영업)(천원),이자보상배율,레이블,label,상장폐지해
11213,A003500,삼진화학,2011,1649968.0,823149.0,2.004458,-,2,1998.0
11214,A003500,삼진화학,2012,3254356.0,585713.0,5.556230,-,2,1998.0
11215,A003500,삼진화학,2013,2430742.0,403133.0,6.029628,-,2,1998.0
11216,A003500,삼진화학,2014,526396.0,81039.0,6.495589,-,2,1998.0
11217,A003500,삼진화학,2015,-302310.0,20989.0,-14.403259,부실징후,0,1998.0
...,...,...,...,...,...,...,...,...,...
29034,A900270,헝셩그룹,2019,43907646.0,2179149.0,20.148988,-,2,2025.0
29035,A900270,헝셩그룹,2020,5002990.0,2056594.0,2.432658,-,2,2025.0
29036,A900270,헝셩그룹,2021,2954130.0,2122802.0,1.391618,-,2,2025.0
29037,A900270,헝셩그룹,2022,4330880.0,2538791.0,1.705883,-,2,2025.0
29038,A900270,헝셩그룹,2023,-139464.0,2259059.0,-0.061735,부실징후,0,2025.0

In [24]:
df = df.drop(df.loc[df['회계년'] > df['상장폐지해']].index)
df

,Symbol,Name,회계년,영업이익(천원),이자비용(비영업)(천원),이자보상배율,레이블,label,상장폐지해
3401,A019120,경윤하이드로,2011,-3224672.0,405046.0,-7.961249,부실징후,0,2011.0
4409,A072530,나이스메탈,2011,-3606551.0,2433905.0,-1.481796,부실징후,0,2011.0
4554,A037540,네스테크,2011,-2289328.0,935340.0,-2.447589,부실징후,0,2011.0
5569,A031990,대선조선,2011,-73467986.0,14121516.0,-5.202557,부실징후,0,2011.0
9858,A005350,봉신,2011,-4765803.0,11385227.0,-0.418595,부실징후,0,2011.0
...,...,...,...,...,...,...,...,...,...
29034,A900270,헝셩그룹,2019,43907646.0,2179149.0,20.148988,-,2,2025.0
29035,A900270,헝셩그룹,2020,5002990.0,2056594.0,2.432658,-,2,2025.0
29036,A900270,헝셩그룹,2021,2954130.0,2122802.0,1.391618,-,2,2025.0
29037,A900270,헝셩그룹,2022,4330880.0,2538791.0,1.705883,-,2,2025.0
29038,A900270,헝셩그룹,2023,-139464.0,2259059.0,-0.061735,부실징후,0,2025.0

In [27]:
df = df[~df['Symbol'].isin(['A000570',
'A002950',
'A000830',
'A104110',
'A057110',
'A021570',
'A131390',
'A002300',
'A032380',
'A012830'])]
df

,Symbol,Name,회계년,영업이익(천원),이자비용(비영업)(천원),이자보상배율,레이블,label,상장폐지해
3401,A019120,경윤하이드로,2011,-3224672.0,405046.0,-7.961249,부실징후,0,2011.0
4409,A072530,나이스메탈,2011,-3606551.0,2433905.0,-1.481796,부실징후,0,2011.0
4554,A037540,네스테크,2011,-2289328.0,935340.0,-2.447589,부실징후,0,2011.0
5569,A031990,대선조선,2011,-73467986.0,14121516.0,-5.202557,부실징후,0,2011.0
9858,A005350,봉신,2011,-4765803.0,11385227.0,-0.418595,부실징후,0,2011.0
...,...,...,...,...,...,...,...,...,...
29034,A900270,헝셩그룹,2019,43907646.0,2179149.0,20.148988,-,2,2025.0
29035,A900270,헝셩그룹,2020,5002990.0,2056594.0,2.432658,-,2,2025.0
29036,A900270,헝셩그룹,2021,2954130.0,2122802.0,1.391618,-,2,2025.0
29037,A900270,헝셩그룹,2022,4330880.0,2538791.0,1.705883,-,2,2025.0
29038,A900270,헝셩그룹,2023,-139464.0,2259059.0,-0.061735,부실징후,0,2025.0

In [29]:
year = pd.read_csv('csv/상장해.csv')
year = year[['Symbol','상장해']]
year

       Symbol     상장해
0     A005930  1975.0
1     A000660  1996.0
2     A373220  2022.0
3     A207940  2016.0
4     A005380  1974.0
...       ...     ...
3440  A900130  2010.0
3441  A900150  2010.0
3442  A900180  2011.0
3443  A950010  2007.0
3444  A950070  2011.0

[3445 rows x 2 columns]

In [31]:
data = pd.merge(df, year, on=['Symbol'], how='left')
data = data.drop(data.loc[data['회계년'] < data['상장해']].index)
data

,Symbol,Name,회계년,영업이익(천원),이자비용(비영업)(천원),이자보상배율,레이블,label,상장폐지해,상장해
0,A019120,경윤하이드로,2011,-3224672.0,405046.0,-7.961249,부실징후,0,2011.0,1992.0
1,A072530,나이스메탈,2011,-3606551.0,2433905.0,-1.481796,부실징후,0,2011.0,2003.0
2,A037540,네스테크,2011,-2289328.0,935340.0,-2.447589,부실징후,0,2011.0,1999.0
3,A031990,대선조선,2011,-73467986.0,14121516.0,-5.202557,부실징후,0,2011.0,1997.0
4,A005350,봉신,2011,-4765803.0,11385227.0,-0.418595,부실징후,0,2011.0,1988.0
...,...,...,...,...,...,...,...,...,...,...
29431,A900270,헝셩그룹,2019,43907646.0,2179149.0,20.148988,-,2,2025.0,2016.0
29432,A900270,헝셩그룹,2020,5002990.0,2056594.0,2.432658,-,2,2025.0,2016.0
29433,A900270,헝셩그룹,2021,2954130.0,2122802.0,1.391618,-,2,2025.0,2016.0
29434,A900270,헝셩그룹,2022,4330880.0,2538791.0,1.705883,-,2,2025.0,2016.0
29435,A900270,헝셩그룹,2023,-139464.0,2259059.0,-0.061735,부실징후,0,2025.0,2016.0

In [32]:
data.isna().sum()

Symbol           0
Name             0
회계년              0
영업이익(천원)         0
이자비용(비영업)(천원)    0
이자보상배율           0
레이블              0
label            0
상장폐지해            0
상장해              0
dtype: int64

In [35]:
data['레이블'].value_counts()

레이블
-       15753
부실징후     8258
회복       1000
Name: count, dtype: int64

In [36]:
data.to_csv('csv/찐최종_rawdata.csv', encoding='utf-8-sig')

In [43]:
df = df.drop(df.loc[df['레이블'] == '-'].index).reset_index(drop=True)
df

,index,Symbol,Name,결산월,회계년,주기,영업이익(천원),이자비용(비영업)(천원),이자보상배율,레이블,상장폐지해
0,29837,A038120,AD모터스,12,2011,Annual,-8241498.0,406714.0,-20.263620,부실징후,2012.0
1,29838,A038120,AD모터스,12,2012,Annual,-4999892.0,103473.0,-48.320741,부실징후,2012.0
2,29274,A013340,AJS,12,2013,Annual,-43973579.0,2438294.0,-18.034568,부실징후,2014.0
3,29275,A013340,AJS,12,2014,Annual,-1031978.0,2915115.0,-0.354009,부실징후,2014.0
4,13995,A054620,APS,12,2016,Annual,-2076669.0,47865.0,-43.385961,부실징후,2025.0
...,...,...,...,...,...,...,...,...,...,...,...
10716,21248,A238490,힘스,12,2018,Annual,-1708653.0,468366.0,-3.648115,부실징후,2025.0
10717,21249,A238490,힘스,12,2019,Annual,7702123.0,112562.0,68.425605,회복,2025.0
10718,21251,A238490,힘스,12,2021,Annual,-4183890.0,83511.0,-50.099867,부실징후,2025.0
10719,21252,A238490,힘스,12,2022,Annual,-13418170.0,126361.0,-106.189172,부실징후,2025.0
10720,21253,A238490,힘스,12,2023,Annual,5863803.0,259679.0,22.580967,부실징후,2025.0

In [32]:
df = df[['Name','회계년','레이블','Symbol']]
df.to_csv('기업목록.csv', encoding='utf-8-sig')

In [33]:
df['레이블']

0        부실징후
1        부실징후
2        부실징후
3        부실징후
4        부실징후
         ...
10716    부실징후
10717      회복
10718    부실징후
10719    부실징후
10720    부실징후
Name: 레이블, Length: 10721, dtype: object

In [36]:
df = df.drop(df.loc[df['회계년'] <= df['상장폐지해']].index)
df.reset_index(drop=True, inplace=True)

In [37]:
df.to_csv('상장폐지_이전연도.csv', encoding='utf-8-sig')

In [55]:
df

,index,Symbol,Name,결산월,회계년,주기,영업이익(천원),이자비용(비영업)(천원),이자보상배율,레이블,상장폐지해
0,29837,A038120,AD모터스,12,2011,Annual,-8241498.0,406714.0,-20.263620,부실징후,2012.0
1,29838,A038120,AD모터스,12,2012,Annual,-4999892.0,103473.0,-48.320741,부실징후,2012.0
2,29272,A013340,AJS,12,2011,Annual,2281287.0,1647202.0,1.384947,-,2014.0
3,29273,A013340,AJS,12,2012,Annual,2609096.0,2442356.0,1.068270,-,2014.0
4,29274,A013340,AJS,12,2013,Annual,-43973579.0,2438294.0,-18.034568,부실징후,2014.0
...,...,...,...,...,...,...,...,...,...,...,...
29934,21249,A238490,힘스,12,2019,Annual,7702123.0,112562.0,68.425605,회복,2025.0
29935,21250,A238490,힘스,12,2020,Annual,24802121.0,114160.0,217.257542,-,2025.0
29936,21251,A238490,힘스,12,2021,Annual,-4183890.0,83511.0,-50.099867,부실징후,2025.0
29937,21252,A238490,힘스,12,2022,Annual,-13418170.0,126361.0,-106.189172,부실징후,2025.0
29938,21253,A238490,힘스,12,2023,Annual,5863803.0,259679.0,22.580967,부실징후,2025.0

In [71]:
df2 = pd.read_csv('csv/상장일자1.csv',index_col=0)
df2 = df2[['Symbol','최초상장년도']]
df2

       Symbol  최초상장년도
0     A005930  1975.0
1     A000660  1996.0
2     A373220  2022.0
3     A207940  2016.0
4     A005380  1974.0
...       ...     ...
3440  A900130  2010.0
3441  A900150  2010.0
3442  A900180  2011.0
3443  A950010  2007.0
3444  A950070  2011.0

[3445 rows x 2 columns]

In [72]:
df3 = pd.merge(df, df2, how='left', on='Symbol')
df3

,index,Symbol,Name,결산월,회계년,주기,영업이익(천원),이자비용(비영업)(천원),이자보상배율,레이블,상장폐지해,최초상장년도
0,29837,A038120,AD모터스,12,2011,Annual,-8241498.0,406714.0,-20.263620,부실징후,2012.0,2000.0
1,29838,A038120,AD모터스,12,2012,Annual,-4999892.0,103473.0,-48.320741,부실징후,2012.0,2000.0
2,29272,A013340,AJS,12,2011,Annual,2281287.0,1647202.0,1.384947,-,2014.0,1989.0
3,29273,A013340,AJS,12,2012,Annual,2609096.0,2442356.0,1.068270,-,2014.0,1989.0
4,29274,A013340,AJS,12,2013,Annual,-43973579.0,2438294.0,-18.034568,부실징후,2014.0,1989.0
...,...,...,...,...,...,...,...,...,...,...,...,...
29302,21249,A238490,힘스,12,2019,Annual,7702123.0,112562.0,68.425605,회복,2025.0,2017.0
29303,21250,A238490,힘스,12,2020,Annual,24802121.0,114160.0,217.257542,-,2025.0,2017.0
29304,21251,A238490,힘스,12,2021,Annual,-4183890.0,83511.0,-50.099867,부실징후,2025.0,2017.0
29305,21252,A238490,힘스,12,2022,Annual,-13418170.0,126361.0,-106.189172,부실징후,2025.0,2017.0
29306,21253,A238490,힘스,12,2023,Annual,5863803.0,259679.0,22.580967,부실징후,2025.0,2017.0

In [73]:
df3 = df3.drop(df3.loc[df3['회계년'] < df3['최초상장년도']].index)
df3

,index,Symbol,Name,결산월,회계년,주기,영업이익(천원),이자비용(비영업)(천원),이자보상배율,레이블,상장폐지해,최초상장년도
0,29837,A038120,AD모터스,12,2011,Annual,-8241498.0,406714.0,-20.263620,부실징후,2012.0,2000.0
1,29838,A038120,AD모터스,12,2012,Annual,-4999892.0,103473.0,-48.320741,부실징후,2012.0,2000.0
2,29272,A013340,AJS,12,2011,Annual,2281287.0,1647202.0,1.384947,-,2014.0,1989.0
3,29273,A013340,AJS,12,2012,Annual,2609096.0,2442356.0,1.068270,-,2014.0,1989.0
4,29274,A013340,AJS,12,2013,Annual,-43973579.0,2438294.0,-18.034568,부실징후,2014.0,1989.0
...,...,...,...,...,...,...,...,...,...,...,...,...
29302,21249,A238490,힘스,12,2019,Annual,7702123.0,112562.0,68.425605,회복,2025.0,2017.0
29303,21250,A238490,힘스,12,2020,Annual,24802121.0,114160.0,217.257542,-,2025.0,2017.0
29304,21251,A238490,힘스,12,2021,Annual,-4183890.0,83511.0,-50.099867,부실징후,2025.0,2017.0
29305,21252,A238490,힘스,12,2022,Annual,-13418170.0,126361.0,-106.189172,부실징후,2025.0,2017.0
29306,21253,A238490,힘스,12,2023,Annual,5863803.0,259679.0,22.580967,부실징후,2025.0,2017.0

In [74]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [index, Symbol, Name, 결산월, 회계년, 주기, 영업이익(천원), 이자비용(비영업)(천원), 이자보상배율, 레이블, 상장폐지해]
Index: []

In [75]:
df3 = df3[~df3['Symbol'].isin(['A000570',
'A002950',
'A000830',
'A104110',
'A057110',
'A021570',
'A131390',
'A002300',
'A032380',
'A012830'])]
df3

,index,Symbol,Name,결산월,회계년,주기,영업이익(천원),이자비용(비영업)(천원),이자보상배율,레이블,상장폐지해,최초상장년도
0,29837,A038120,AD모터스,12,2011,Annual,-8241498.0,406714.0,-20.263620,부실징후,2012.0,2000.0
1,29838,A038120,AD모터스,12,2012,Annual,-4999892.0,103473.0,-48.320741,부실징후,2012.0,2000.0
2,29272,A013340,AJS,12,2011,Annual,2281287.0,1647202.0,1.384947,-,2014.0,1989.0
3,29273,A013340,AJS,12,2012,Annual,2609096.0,2442356.0,1.068270,-,2014.0,1989.0
4,29274,A013340,AJS,12,2013,Annual,-43973579.0,2438294.0,-18.034568,부실징후,2014.0,1989.0
...,...,...,...,...,...,...,...,...,...,...,...,...
29302,21249,A238490,힘스,12,2019,Annual,7702123.0,112562.0,68.425605,회복,2025.0,2017.0
29303,21250,A238490,힘스,12,2020,Annual,24802121.0,114160.0,217.257542,-,2025.0,2017.0
29304,21251,A238490,힘스,12,2021,Annual,-4183890.0,83511.0,-50.099867,부실징후,2025.0,2017.0
29305,21252,A238490,힘스,12,2022,Annual,-13418170.0,126361.0,-106.189172,부실징후,2025.0,2017.0
29306,21253,A238490,힘스,12,2023,Annual,5863803.0,259679.0,22.580967,부실징후,2025.0,2017.0

In [76]:
df3.reset_index(drop=True, inplace=True)
df3.to_csv('최종_rawdata.csv', encoding='utf-8-sig')